@_color-mts: #e24040;
@_form-background: #222c3c;
@_content-background: #273142;

@primary-color: #289df5;
@font-family: 'Source Sans Pro', sans-serif;
@text-color: #fff;
@text-color-secondary: #7f8fa4;
@border-color-base: #313d4f;
@layout-header-background: @_content-background;
@layout-body-background: #1b2431;
@body-background: #3a3d43;
@border-radius-base: 4px;
@btn-font-weight: 600;
@border-color-split: #364357;
@form-item-margin-bottom: 20px;
@form-vertical-label-padding: 0 0 3px;
@label-color: @text-color-secondary;
@popover-background: @_form-background;
@layout-header-padding: 0 30px;
@avatar-size-lg: 56px;
@list-item-padding: 12px 30px 12px 14px;
@list-item-meta-description-font-size: 12px;
@list-item-meta-avatar-margin-right: 22px;
