@import (reference) 'src/styles/variables.less';

.main {
  display: flex;
  background-color: @_form-background;
  border-radius: @border-radius-base;
}

.formContainer {
  width: 340px;
  padding: 44px 30px 1px 30px;
}
